<div id="splash-page">
  <div id="welcome-box">
    <div class="title"> Pixelate </div>
    <div class="buttons-container">
      <a class="button" href="/session/new"><span></span>Sign In</a>
      <a class="button" href="/session/new"><span></span>Sign Up</a>
      <a class="button" id="demo"><span></span>Demo</a>
    </div>
  </div>
</div>
