<div id="splash-page">
  <div id="welcome-box">
    <div class="title"> Pixelate </div>
    <div class="tagline">A simple tool for making and sharing pixel art.</div>
    <div class="buttons-container">
      <a class="button" href="/session/new"><span></span>Sign In</a>
      <a class="button" href="/users/new"><span></span>Sign Up</a>
      <a class="button" onclick="continueAsGuest()" id="demo"><span></span>Demo</a>
    </div>
  </div>
</div>

<script type="text/javascript">
  function continueAsGuest () {
    $.ajax({
      url: "/guest_sign_in",
      type: 'get',
      dataType: 'json',
      success: function(response) {
        window.location.href = "/app/"
      }
    });
  }
</script>
