/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 // */
/* line 19, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
.eraser-cursor {
  cursor: url(/assets/eraser_cursor-f630b8d47053ada2c3a8c41228c8808259c0bd8cab55900f15ea69f89fefe01a.png) 0 20, auto;
}

/* line 23, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
.brush-cursor {
  cursor: url(/assets/brush_cursor-9e15d0328d3f0c0ec463feb7fc4d690823d2de3df09d68849b66292360333a3b.png) 0 20, auto;
}

/* line 27, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
.paintbucket-cursor {
  cursor: url(/assets/paintbucket_cursor-bdd78ad3016faf9de951ab60277311ca77e8a7b806bd463572b7e70d928535cf.png) 0 20, auto;
}

/* line 31, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
.index-thumb {
  margin: 5px;
  float: left;
}

/* line 36, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
.thumbnail-cell {
  width: 3px;
  height: 3px;
  float: left;
}

/* line 42, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
.draw-thumbnail:after {
  content: "";
  clear: both;
  display: block;
}

/* line 48, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
.sidebar-button:hover {
  background-color: #FFFED5;
  cursor: pointer;
}

/* line 53, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
.show {
  height: 400px;
}

/* line 57, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
.hide {
  height: 20px;
}

/* line 61, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
.sidebar {
  background-color: #FF5556;
  width: 150px;
  clear: both;
  left: 26px;
  position: fixed;
  z-index: 1;
}

/* line 70, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
.sidebar-show-triangle-left {
  width: 0;
  position: absolute;
  height: 0;
  border-style: solid;
  border-width: 20px 0 0 20px;
  border-color: transparent transparent transparent white;
  left: 0px;
  bottom: 0px;
}

/* line 81, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
.sidebar-show-triangle-right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 20px 20px;
  position: absolute;
  right: 0px;
  border-color: transparent transparent white transparent;
  bottom: 0px;
}

/* line 92, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
.sidebar-triangle-left {
  width: 0;
  position: absolute;
  height: 0;
  border-style: solid;
  border-width: 20px 0 0 20px;
  border-color: transparent transparent transparent white;
  left: 0px;
}

/* line 102, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
.sidebar-triangle-right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 20px 20px;
  position: absolute;
  right: 0px;
  border-color: transparent transparent white transparent;
}

/* line 112, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
.nav-menu li div {
  font-family: "Inconsolata";
  font-size: 18px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 5px;
}

/* line 121, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
.nav-menu li {
  width: 110px;
  height: 60px;
  border-bottom: 2px #FFFED5 solid;
  position: relative;
}

/* line 128, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
.sidebar-show-decor {
  width: 60px;
  background-color: #FFFED5;
  height: 5px;
  left: 31%;
  bottom: 7px;
  position: absolute;
  transition: border-width 0.5s;
}

/* line 138, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
.decor {
  width: 60px;
  background-color: #FFFED5;
  height: 5px;
  left: 31%;
  top: 7px;
  position: absolute;
  transition: border-width 0.5s;
}

/* line 148, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
.nav-menu {
  right: 18px;
  top: 40px;
  position: absolute;
}

@font-face {
  font-family: 'Blox2';
  src: url(/assets/Blox2-67a898ca9db7b137b37fb198704867c66d0bd124a6d47dcda4d39a9c10465425.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Invasion';
  src: url(/assets/INVASION2000-449dd402a20fd40ffc2ea40d7f21eadb736bb3f9a34a3b828d1c82641be69b4c.TTF);
  font-weight: normal;
  font-style: normal;
}
/* line 168, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
#welcome-box {
  width: 500px;
  height: 150px;
  margin-top: 280px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 3px solid black;
  text-align: center;
  padding: 20px;
  padding-top: 15px;
  font-family: "Invasion";
}

/* line 182, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
.title {
  display: block;
  font-family: 'Blox2';
  width: 425px;
  font-size: 64px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 193, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
.buttons-container {
  display: block;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

/* line 200, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
.buttons-container:after {
  content: "";
  clear: both;
  display: block;
}

/* line 206, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
a.button:hover {
  background-color: black;
  color: white;
}

/* line 211, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
a.button {
  display: block;
  float: left;
  text-decoration: none;
  font-family: 'Invasion';
  font-size: 24px;
  color: black;
  width: 150px;
  padding: 5px;
  margin-top: 7px;
}

/* line 223, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
#demo {
  width: 300px;
}

/* line 227, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
#demo:hover {
  cursor: pointer;
}

/* line 231, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
#splash-page {
  background-image: url(/assets/splash_page-7337753001e481e2f8439e79c42b7bbcc089a3f1cc28d2c869f464b7cb3e185d.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

/* line 240, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
.thumb-button {
  z-index: 2;
}

/* line 244, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
.box-title {
  text-align: left;
  font-size: 36px;
  margin: 5px;
  margin-top: 0px;
}

/* line 251, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
.auth-form label {
  text-align: left;
  margin: 5px;
  text-size: 20px;
}

/* line 257, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
.auth-form input {
  -webkit-appearance: none;
  width: 350px;
  height: 24px;
  margin: 5px;
  border: 1px solid black;
  font-family: 'Invasion';
  padding: 3px;
  font-size: 16px;
}

/* line 268, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
#submit-auth {
  -webkit-appearance: none;
  float: right;
  font-family: 'Invasion';
  font-size: 16px;
  color: black;
  width: 100px;
  height: 26px;
  margin-right: -1px;
  background: #FFFFFF;
  border: 1px solid black;
}

/* line 281, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
#submit-auth:hover {
  background: gray;
}

/* line 285, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/application.css.scss */
#welcome-box a {
  text-decoration: none;
}
