/* line 1, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/drawing_details.scss */
.show-cell {
  border: 1px dotted transparent;
  float: left;
  width: 10px;
  height: 10px;
}

/* line 8, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/drawing_details.scss */
.drawing-title {
  display: inline;
  background-color: black;
  color: white;
  padding: 5px;
  font-family: 'Invasion';
  font-size: 32px;
}

/* line 17, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/drawing_details.scss */
.drawing-details-container {
  padding: 1px;
  position: relative;
  text-align: center;
  margin: 0px auto;
  padding-bottom: 5px;
}

/* line 25, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/drawing_details.scss */
.drawing-details-container:after {
  content: "";
  display: block;
  clear: both;
}

/* line 31, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/drawing_details.scss */
.drawing-details-body {
  padding: 10px;
  padding-top: 0px;
  margin: 0px auto;
  width: 760px;
}

/* line 38, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/drawing_details.scss */
.stats-container {
  display: block;
  margin-top: 5px;
  text-align: left;
}

/* line 44, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/drawing_details.scss */
.info {
  font-family: 'Invasion';
  font-size: 20px;
  padding-top: 10px;
}

/* line 50, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/drawing_details.scss */
.artist-name {
  padding: 4px;
  padding-left: 10px;
  font-family: 'Invasion';
  font-size: 32px;
  border: 1px solid black;
}

/* line 58, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/drawing_details.scss */
.more-drawing-button {
  font-family: 'Invasion';
  font-size: 50px;
}

/* line 63, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/drawing_details.scss */
.more-drawing-button:hover {
  cursor: pointer;
}

/* line 67, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/drawing_details.scss */
.right {
  position: absolute;
  top: 306px;
  right: -100px;
}

/* line 73, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/drawing_details.scss */
.left {
  position: absolute;
  top: 306px;
  left: -100px;
}

/* line 79, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/drawing_details.scss */
.show-comments-button {
  padding-top: 5px;
}

/* line 83, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/drawing_details.scss */
.show-comments-button:hover {
  color: #FF5556;
  cursor: pointer;
}
