/* line 1, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/search.css.scss */
.search-bar {
  width: 300px;
  height: 24px;
  border: 1px solid black;
  font-family: "Inconsolata";
  font-size: 17px;
  float: left;
  padding: 5px;
}

/* line 11, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/search.css.scss */
.search-container {
  width: 800px;
  margin: 0px auto;
  padding: 20px;
}

/* line 17, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/search.css.scss */
.submit-search {
  height: 35px;
  border: 1px solid black;
  font-family: "Inconsolata";
  font-size: 17px;
  float: left;
  margin-left: 10px;
  background-color: #FF5556;
  color: #000000;
}

/* line 28, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/search.css.scss */
.submit-search:hover {
  cursor: pointer;
  background-color: #FFFED5;
}

/* line 32, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/search.css.scss */
.search-form {
  width: 393px;
  margin: 20px auto;
}

/* line 37, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/search.css.scss */
.search-form:after {
  content: "";
  display: block;
  clear: both;
}

/* line 43, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/search.css.scss */
.search-results {
  border: 1px solid black;
  min-height: 50px;
  margin: 10px;
  font-family: "Inconsolata";
  font-size: 17px;
  padding: 5px;
}

/* line 52, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/search.css.scss */
.results-title {
  padding: 5px;
  background: #ccc;
}

/* line 57, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/search.css.scss */
.search-result-info {
  padding: 10px;
  float: left;
}

/* line 62, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/search.css.scss */
.result-entry {
  position: relative;
  margin-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

/* line 69, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/search.css.scss */
.result-entry:after {
  content: "";
  display: block;
  clear: both;
}

/* line 75, /Users/minwin08/Desktop/Pixelate/app/assets/stylesheets/search.css.scss */
.result-thumb {
  float: left;
}
