<div id="splash-page">
  <div id="welcome-box">
    <div class="box-title"> Sign Up </div>
    <form class="auth-form" action="<%= users_url %>" method="post">
      <%= auth_token %>
      <label>Username</label>
      <input type="text" name="user[username]" value="">

      <label>Password</label>
      <input type="password" name="user[password]" value="">

      <input id="submit-auth" type="submit" value="Sign Up">
    </form>
    <a href="/"><img class="back-arrow" src="/images/arrow.png"/><a>
  </div>
</div>
