/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require reset
 *= require_tree .
 *= require_self
 // */
 //
.index-thumb {
  margin: 5px;
  float: left;
}

.thumbnail-cell {
  width: 3px;
  height: 3px;
  float: left;
}

.draw-thumbnail:after {
  content: "";
  clear: both;
  display: block;
}

.sidebar-button:hover {
  background-color: #FFFED5;
  cursor: pointer;
}

.show {
  height: 400px;
}

.hide {
  height: 20px;
}

.sidebar {
  background-color: coral;
  width: 150px;
  clear: both;
  left: 26px;
  position: fixed;
  z-index: 1;
}

.sidebar-show-triangle-left {
  width: 0;
  position: absolute;
  height: 0;
  border-style: solid;
  border-width: 20px 0 0 20px;
  border-color: transparent transparent transparent white;
  left: 0px;
  bottom: 0px;
}

.sidebar-show-triangle-right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 20px 20px;
  position: absolute;
  right: 0px;
  border-color: transparent transparent white transparent;
  bottom: 0px;
}

.sidebar-triangle-left {
  width: 0;
  position: absolute;
  height: 0;
  border-style: solid;
  border-width: 20px 0 0 20px;
  border-color: transparent transparent transparent white;
  left: 0px;
}

.sidebar-triangle-right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 20px 20px;
  position: absolute;
  right: 0px;
  border-color: transparent transparent white transparent;
}

.nav-menu li div {
  font-family: "Inconsolata";
  font-size: 18px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 5px;
}

.nav-menu li {
  width: 110px;
  height: 60px;
  border-bottom: 2px #FFFED5 solid;
  position: relative;
}

.sidebar-show-decor {
  width: 60px;
  background-color: #FFFED5;
  height: 5px;
  left: 31%;
  bottom: 7px;
  position: absolute;
  transition: border-width 0.5s;
}

.decor {
  width: 60px;
  background-color: #FFFED5;
  height: 5px;
  left: 31%;
  top: 7px;
  position: absolute;
  transition: border-width 0.5s;
}

.nav-menu {
  right: 18px;
  top: 40px;
  position: absolute;
}

@font-face {
  font-family: 'Blox2';
  src: font-url('Blox2.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Invasion';
  src: font-url('INVASION2000.TTF');
  font-weight: normal;
  font-style: normal;
}

#welcome-box {
   width: 500px;
   height: 150px;
   margin-top: 280px;
   margin-left: auto;
   margin-right: auto;
   background-color: white;
   border: 3px solid black;
   text-align: center;
   padding: 20px;
}

.title {
   display: block;
   font-family: 'Blox2';
   width: 425px;
   font-size: 64px;
   margin-bottom: 5px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

.buttons-container {
   display: block;
   width: 320px;
   margin-left: auto;
   margin-right: auto;
}

.buttons-container:after {
   content: "";
   clear: both;
   display: block;
}

a.button:hover {
   background-color: black;
   color: white;
}

a.button {
  display: block;
  float: left;
  text-decoration: none;
  font-family: 'Invasion';
  font-size: 24px;
  color: black;
  width: 150px;
  padding: 5px;
  margin-top: 7px;
}

#demo {
  width: 300px;
}

#splash-page {
  background-image: image-url("splash_page.jpg");
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}
