/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require reset
 *= require_tree .
 *= require_self
 */

 @font-face {
  font-family: 'Blox2';
  src:url('/assets/Blox2.ttf');
  font-weight: normal;
  font-style: normal;
}

 #welcome-box {
   width: 600px;
   height: 300px;
   margin-top: 200px;
   margin-left: auto;
   margin-right: auto;
   background-color: white;
   border: thick solid black;
   border-radius: 5%;
   text-align: center;
   font-family: 'Blox2';
 }

 #splash-page {
   background-image: url("splash_page.jpg");
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   bottom: 0;
 }

 .drawing-app {
   width: 1000px;
   height: 800px;
 }

.palette {
 min-width: 300px;
 padding: 0px;
 list-style-type: none;
 margin: auto;
}

.palette:after {
  content: "";
  display: block;
  clear: both;
}

.color-swatch:hover {
  cursor: pointer;
}

.color-swatch {
  width: 20px;
  height: 20px;
  float: left;
}

.canvas {
  border: 1px solid #ccc;
}

.canvas:after {
  content: "";
  display: block;
  clear: both;
}

.cell {
  border: 1px dotted #ccc;
  float: left;
  width: 15px;
  height: 15px;
}

.tool {
  width: 50px;
  height: 50px;
}

.tool:hover {
  cursor: pointer;
}
