/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require reset
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Blox2';
  src: font-url('Blox2.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Invasion';
  src: font-url('INVASION2000.TTF');
  font-weight: normal;
  font-style: normal;
}

#welcome-box {
   width: 500px;
   height: 150px;
   margin-top: 280px;
   margin-left: auto;
   margin-right: auto;
   background-color: white;
   border: 3px solid black;
   text-align: center;
   padding: 20px;
}

.title {
   display: block;
   font-family: 'Blox2';
   width: 425px;
   font-size: 64px;
   margin-bottom: 5px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

.buttons-container {
   display: block;
   width: 320px;
   margin-left: auto;
   margin-right: auto;
}

.buttons-container:after {
   content: "";
   clear: both;
   display: block;
}

a.button:hover {
   background-color: black;
   color: white;
}

a.button {
  display: block;
  float: left;
  text-decoration: none;
  font-family: 'Invasion';
  font-size: 24px;
  color: black;
  width: 150px;
  padding: 5px;
  margin-top: 7px;
}

#demo {
  width: 300px;
}

#splash-page {
  background-image: image-url("splash_page.jpg");
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.drawing-app {
  padding: 20px;
  width: 1000px;
  height: 800px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.center-canvas-and-palette {
  margin-left: auto;
  margin-right: auto;
}

.palette {
  min-width: 300px;
  padding: 0px;
  list-style-type: none;
  margin: 15px auto;
}

.palette:after {
  content: "";
  display: block;
  clear: both;
}

.color-swatch:hover {
  cursor: pointer;
}

.color-swatch {
  width: 20px;
  height: 20px;
  float: left;
}

.canvas {
  border: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
}

.canvas:after {
  content: "";
  display: block;
  clear: both;
}

.cell {
  border: 1px dotted #ccc;
  float: left;
  width: 10px;
  height: 10px;
}

.tools-container {
  position: absolute;
  width: 55px;
  top: 100px;
  right: 150px;
}

.tools-container:after {
  content: "";
  clear: both;
  display: block;
}

.tool {
  width: 50px;
  height: 50px;
  float: left;
  margin: 5px 0px;
}

.tool:hover {
  cursor: pointer;
}
