.section-title {
  background-color: black;
  color: white;
  padding: 5px;
  font-family: 'Invasion';
  font-size: 32px;
  width: 280px;
  margin: 10px auto;
  text-align: center;
}

.index {
  padding: 20px;
  margin: 0px auto;
  width: 900px;
}

.hot-drawings {
  width: 760px;
  margin: 0px auto;
}

.all-other-drawings {
  width: 760px;
  margin: 0px auto;
}

.hot-drawings:after {
  content: "";
  clear: both;
  display: block;
}

.all-other-drawings:after {
  content: "";
  clear: both;
  display: block;
}

.page-button {
  font-family: 'Inconsolata';
  margin: 5px;
  font-size: 17px;
  float: left;
}

.current-page {
  font-family: 'Inconsolata';
  font-size: 17px;
  border: 1px solid black;
}

.page-buttons {
  width: 70px;
  margin-left: auto;
  margin-right: auto;
}

.page-button:hover {
  cursor: pointer;
}

.page-buttons:after {
  content: "";
  display: block;
  clear: both;
}
