.show-cell {
  border: 1px dotted transparent;
  float: left;
  width: 10px;
  height: 10px;
}

.drawing-title {
  display: inline;
  background-color: black;
  color: white;
  padding: 5px;
  font-family: 'Invasion';
  font-size: 32px;
}

.drawing-details-container {
  padding: 1px;
  position: relative;
  text-align: center;
  margin: 0px auto;
  padding-bottom: 5px;
}

.drawing-details-container:after {
  content: "";
  display: block;
  clear:both;
}

.drawing-details-body {
  padding: 10px;
  padding-top: 0px;
  margin: 0px auto;
  width: 760px;
}

.stats-container {
  display: block;
  margin-top: 5px;
  text-align: left;
}

.info {
  font-family: 'Invasion';
  font-size: 20px;
  padding-top: 10px;
}

.artist-name {
  padding: 4px;
  padding-left: 10px;
  font-family: 'Invasion';
  font-size: 32px;
  border: 1px solid black;
}

.more-drawing-button {
  font-family: 'Invasion';
  font-size: 50px;
}

.more-drawing-button:hover {
  cursor: pointer;
}

.right {
  position: absolute;
  top: 306px;
  right: -100px;
}

.left {
  position: absolute;
  top: 306px;
  left: -100px;
}

.show-comments-button {
  padding-top: 5px;
}

.show-comments-button:hover {
  color: #FF5556;
  cursor: pointer;
}
