.helpbox {
  width: 132px;
  height: 117px;
  border: 1px dashed black;
  padding: 15px;
  font-family: "Inconsolata";
  font-size: 14px;
  position: absolute;
  left: 20px;
  top: 100px;
}

.helpbox p {
  margin: 5px 0px;
}

.helpbox-title {
  text-decoration: underline;
  text-align: center;
  padding-bottom: 3px;
}

.app-title {
  display: block;
  font-family: 'Inconsolata';
  width: 425px;
  font-size: 36px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.drawing-app {
  padding: 20px;
  padding-top: 0px;
  width: 1000px;
  height: 700px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.center-canvas-and-palette {
  margin-left: auto;
  margin-right: auto;
}

.palette {
  min-width: 300px;
  padding: 0px;
  list-style-type: none;
}

.palette:after {
  content: "";
  display: block;
  clear: both;
}

.color-swatch:hover {
  cursor: pointer;
}

.color-swatch {
  width: 20px;
  height: 20px;
  float: left;
}

.canvas {
  margin: 10px auto;
}

.canvas:after {
  content: "";
  display: block;
  clear: both;
}

.border-on {
  border: 1px dotted white;
}

.border-off {
  border: 1px solid transparent;
}

.cell {
  float: left;
  width: 10px;
  height: 10px;
}

.tools-container {
  position: absolute;
  width: 55px;
  top: 100px;
  right: 150px;
}

.tools-container:after {
  content: "";
  clear: both;
  display: block;
}

.tool {
  width: 50px;
  height: 50px;
  float: left;
  margin: 5px 0px;
}

.tool:hover {
  cursor: pointer;
}

.flash-message {
  padding: 20px;
  background-color: #6AFF0D;
  font-family: "Inconsolata";
  width: 129px;
  position: absolute;
  left: 40%;
  top: 40%;
}

.stylized-color-picker {
  width: 20px;
  height: 20px;
  float: left;
}

.stylized-color-picker:hover {
  cursor: pointer;
}

#color-picker {
  opacity: 0;
}
