.username {
  background-color: black;
  color: white;
  padding: 5px;
  font-family: 'Invasion';
  font-size: 32px;
  display: inline-block;
  margin: 10px auto;
}

.user-details-header {
  padding: 15px;
  padding-bottom: 0px;
  text-align: center;
}

.user-details-body {
  margin: 0px auto;
  width: 760px;
}

.profile-pic {
  margin-left: auto;
  margin-right: auto;
}

.new-drawing-button {
  margin: 20px 20px;
  margin-bottom: 10px;
  width: 150px;
  height: 150px;
  float: left;
  border: 1px dashed darkgrey;
  text-align: center;
  font-family: Inconsolata;
  font-size: 100px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: darkgrey;
  color: white;
  line-height: 150px;
  vertical-align: middle;
  position: relative;
}

.new-drawing-button:hover {
  background-color: #FFFED5;
  color: darkturquoise;
  cursor: pointer;
  -webkit-text-stroke-width: 0px;
  border: 3px black dashed;
}

.new-drawing-button-info:hover {
  opacity: 1;
}

.new-drawing-button-info {
  opacity: 0;
  position: absolute;
  font-size: 14px;
  -webkit-text-stroke-width: 0px;
  color: black;
  width: inherit;
  bottom: 0px;
  left: 2px;
  z-index: 2;
}

.new-drawing-button-info-text {
  position: relative;
  bottom: -50px;
}
