.username {
  background-color: black;
  color: white;
  padding: 5px;
  font-family: 'Invasion';
  font-size: 32px;
  width: 250px;
  margin: 10px auto;
}

.user-details-header {
  padding: 15px;
  padding-bottom: 0px;
  text-align: center;
}

.user-details-body {
  margin: 0px auto;
  width: 760px;
}

.profile-pic {
  margin-left: auto;
  margin-right: auto;
}
